<xmlui><page><navigationBar title="Activation Error" hidesBackButton="false"/><tableView><section footer="Activation request could not be completed. Please try again. If the problem persists, please contact customer support."/><section><buttonRow align="center" label="Try Again" name="tryAgain" titleLoadingMessage=""/></section></tableView></page></xmlui>